body{
    background-color: rgb(29, 28, 28);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    gap: 10px;
    font-size: 25px;
}

.container button{
    background-color: gray;
    color: rgb(244, 229, 13);
    font-weight: 600;
}